.layout {
    width: 100%;
    height: 80px;

    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: var(--color-dark);
}

.layout .container {
    margin: 0 8px;

    display: flex;
}

.layout .container a {
    margin: 0 8px;
    padding: 8px;

    font-size: 1.2rem;
    line-height: 2em;
    white-space: nowrap;

    color: var(--color-light);
}

.layout .container.desktop a:after {
    display: block;
    content: "";

    color: var(--color-primary);

    border-bottom: solid 3px;

    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
}

.layout .container.desktop a:hover:after {
    transform: scaleX(1);
}

.layout .container.mobile {
    display: none;
}

.layout .container.mobile button {
    width: 32px;
}

.layout .container.mobile button img {
    width: 100%;
    vertical-align: middle;
}

.layout .sidenav {
    width: 100%;

    position: fixed;
    top: 80px;
    left: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: blue;
}

.layout .sidenav a {
    width: 100%;

    text-align: center;

    padding: 8px 16px;

    font-size: 1.2rem;
    line-height: 2em;
    white-space: nowrap;
}

.content {
    min-height: calc(100vh - 80px);

    border-top: 80px solid transparent;
}

@media screen and (max-width: 576px) {
    .layout .container.desktop {
        display: none;
    }

    .layout .container.mobile {
        display: block;
    }
}