.table-header {
    width: -webkit-fill-available;

    display: flex;

    margin: 0 0 16px;

    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    border: unset;
    border-radius: 4px;
}

.table-header .table-search {
    padding: 8px;
    margin: 8px 0 8px 8px;

    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1.1rem;
    color: var(--color-dark-light);
}

.table-header .table-search.input {
    width: -webkit-fill-available;
    margin: 8px 8px 8px 0;
}

.table-footer {
    width: -webkit-fill-available;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 8px;
    margin: 16px 0 0;

    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    border: unset;
    border-radius: 4px;
}

.table-footer .table-paginator {
    display: flex;
    align-items: center;

    font-family: 'Roboto', sans-serif;
    font-weight: 400;

    color: var(--color-dark-light-light);
}

.table-footer .table-paginator button {
    margin: 0 8px;
}

.table-footer .table-paginator button img {
    width: 24px;
    height: 24px;

    vertical-align: middle;
}

.table-footer .table-paginator button img:hover {
    filter: invert(39%) sepia(26%) saturate(2956%) hue-rotate(223deg) brightness(96%) contrast(98%);
}

.table-footer .table-size,
.table-footer .table-total {
    margin: 0 16px;

    font-family: 'Roboto', sans-serif;
    font-weight: 400;

    color: var(--color-dark-light-light);
}

.table {
    width: 100%;

    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    border: unset;
    border-radius: 4px;

    background-color: var(--color-light);
}

.table .table-head {
    text-align: left;
}

.table .table-head .table-head-elem {
    padding: 16px;

    font-family: 'Roboto', sans-serif;
    font-size: 1.25rem;
    font-weight: 400;

    color: var(--color-dark-light);
}

.table .table-head .table-head-elem.action {
    text-align: center;
}

.table .table-head .table-head-elem button {
    display: flex;
}

.table .table-head .table-head-elem button:hover {
    color: var(--color-primary);
}

.table .table-head .table-head-icon {
    width: 24px;
    height: 24px;

    margin: 0 4px;

    vertical-align: text-bottom;

    filter: invert(39%) sepia(26%) saturate(2956%) hue-rotate(223deg) brightness(96%) contrast(98%);
}

.table .table-body .table-body-elem {
    overflow-x: auto;
    max-width: 128px;

    padding: 16px;

    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 400;

    color: var(--color-dark-light-light);
}

.table .table-body .table-body-action {
    text-align: center;
}

.table .table-body .table-body-icon {
    width: 24px;
    height: 24px;

    margin: 0 8px;

    vertical-align: text-bottom;
}

.table .table-body .table-body-icon:hover {
    filter: invert(39%) sepia(26%) saturate(2956%) hue-rotate(223deg) brightness(96%) contrast(98%);
}

.table .table-body .table-body-container:hover {
    background-color: var(--color-light-dark);
}