.Auth {
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-image: url(/public/background/auth-bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.Auth .card {
    width: 100%;
    max-width: 384px;

    padding: 16px;

    border-radius: 16px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: white;
}

.Auth .card .title {
    padding: 0 0 16px 0;

    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1.75rem;
}

.Auth .card form {
    width: 100%;
    max-width: 256px;

    display: flex;
    flex-direction: column;
}

.Auth .card form input {
    margin: 8px 0;
    padding: 8px 16px;

    font-size: 1rem;
 
    outline: none;
    border-radius: 8px;
    border: 1px solid #e0e0e0;
}

.Auth .card form input:hover,
.Auth .card form input:focus {
    border: 1px solid #2196f3;
}

.Auth .card form input.submit {
    background: transparent;
    border: unset;
    /* border-radius: 4px;ç */
}

.Auth .card form input.submit:hover {
    background: #e0e0e0;
    /* border: unset; */
    transition: 0.5s;
}
